.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 3fr 4fr;
    
   
}
div{
    border: 0.5px solid;
}
main{ 
    border: 0.5px solid;
    
}
.main img{
    width: 450px;
    height: 350px;
    object-fit: cover;  
}
aside{
    border: 0.5px solid;
}
footer{
    border: 0.5px solid;
}

    

    

